{% extends 'base.html.twig' %}

{% block title %}Twig functions{% endblock %}

{% block body %}
<h1>Twig functions</h1>
<table>
    <thead>
        <tr>
            <th>Cases</th>
            {% for pages in tests %}
            <th colspan="3">Current page : {{ pages.currentPage }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i in 0..6 %}
        <tr>
            <td>{{ cases[i] }}</td>
            {% for pages in tests %}
                {% for page in pages %}{% endfor %}
            <td>{{ page_class(pages[i]) }}</td>
            <td>{{ pages[i].label|raw }}</td>
            <td>{{ pages[i].number }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
